<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Forge</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/jember-sketch" rel="stylesheet">
    <!--CONEXION CON BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!--CONEXION CON LOS ICONOS DE GOOGLE-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- ENLACE PARA LAS HOJAS DE ESTILO -->
    <link href="/css/styleIndex.css" rel="stylesheet">
    <link href="/css/styleModal.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleheader.css">
    <link rel="stylesheet" href="/css/styleDarkMode.css">
    <link rel="stylesheet" href="/css/styleFooter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
<nav th:replace="~{fragments/_layout :: header}"></nav>

<!-- Cuerpo -->
<main>
    <div class="container my-5">
        <h2 class="text-center mb-4">Nuestros Cómics Más Vendidos</h2>

        <!-- Carrusel pantallas grandes -->
        <div id="comicCarousel" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
            <div class="carousel-inner" id="comicCarouselInner"></div>
        </div>

        <!-- Carrusel pantallas pequeñas -->
        <div id="comicCarouselPequeñas" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
            <div class="carousel-inner" id="comicCarouselInnerSmall"></div>
        </div>
    </div>

    <!-- Seccion de los botones para cambiar los contenidos -->
    <section>
        <div class="d-flex justify-content-center align-items-center gap-3">
            <button class="btn-video" id="btn-marvel" onclick="mostrarSeccion('marvel')">
                <img src="/recursos/MARVELlogo.png" alt="boton marvel">
                <video src="/recursos/MARVEL video.mp4" autoplay muted loop></video>
            </button>

            <button class="btn-video" id="btn-dc" onclick="mostrarSeccion('dc')">
                <img src="/recursos/DClogo.png" alt="boton DC">
                <video src="/recursos/DC video.mp4" autoplay muted loop></video>
            </button>
        </div>

        <!-- Seccion de comics -->
        <section id="section-comics">
            <!-- Marvel -->
            <div class="marvel-comics" id="marvel">
                <h1 class="text-center my-4 text-dark">Marvel Cómics</h1>
                <div class="container my-5" id="marvelContainer"></div>
            </div>

            <!-- DC -->
            <div class="dc-comics" id="dc" style="display: none;">
                <h1 class="text-center my-4 text-dark">DC Cómics</h1>
                <div class="container my-5" id="dcContainer"></div>
            </div>
        </section>
    </section>

    <!-- Contenedor para modales -->
    <div id="modales-container"></div>
</main>

<!-- Botón Flotante Modo Oscuro -->
<button id="darkModeToggle" class="dark-mode-toggle">
    <i class="fa-solid fa-moon"></i>
</button>

<div th:replace="~{fragments/_layout :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!-- Scripts -->
<script src="/js/scriptToast.js"></script>
<script src="/js/scriptNavbar.js"></script>
<script src="/js/scriptCargarComics.js"></script>
<script src="/js/scriptCargarMasVendidos.js"></script>
<script src="/js/scriptDarkMode.js"></script>
<script src="/js/scriptSecciones.js"></script>
<script src="/js/scriptProfile.js"></script>
<script src="/js/scriptTabs.js"></script>
<script src="/js/scriptPrincipal.js"></script> 
</body>
</html>
